#include ".xrdb/color/gruvbox"
#include ".xrdb/rofi/gruvbox"

URxvt.font: xft:Liberation Mono for Powerline:size=14
!URxvt.letterSpace: -5
URxvt.scrollBar: false
URxvt.visualBell: false
URxvt.perl-ext-common: default,selection-to-clipboard,pasta,matcher
URxvt.clipboard.autocopy: true
URxvt.underlineURLs: True
URxvt.url-launcher: /usr/bin/google-chrome
URxvt.matcher.button: 1
URxvt.keysym.M-Escape:perl:keyboard-select:activate
URxvt.keysym.Control-Shift-V:perl:pasta:paste

rofi.terminal: urxvt
